@import '../variables.css';

.root {
  color: #fff;
  background: #326399;
  height: 75px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: var(--max-content-width);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.text {
  color: #fff;
  cursor: default;
}

.spacer {
  color: #fff;
  cursor: default;
}

.text,
.link {
  padding: 2px 7px;
  font-size: 16px;

  @media only screen and (max-device-width: 480px) {
    font-size: 12px;
  }
}

.link,
.link:active,
.link:visited {
  color: #fff;
  text-decoration: none;
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}
